# =========================
# MINIO
# =========================
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniosecret

# =========================
# CLICKHOUSE
# =========================
CLICKHOUSE_DB=langfuse
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse_pass

# =========================
# POSTGRES
# =========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_pass
POSTGRES_DB=langfuse

# =========================
# REDIS
# =========================
REDIS_PASSWORD=redis_pass
