# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
.venv/
env/

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker-data/
*.pid

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# TEST / CACHE
# =========================
.pytest_cache/
.mypy_cache/
.cache/
coverage/
htmlcov/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/
